<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" hre="">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>
<body>
    <div class="main-content">
        <p>
            {{>header}}
            <p>
                This site was created by Kosta it tells you the weather in real time
            </p>
    <img class="portrait" src="/img/robot.webp">
        </p>
    </div>
    {{>footer}}
</body>
</html>